@import "vars"

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  .request
    width: 100%
  .products__item
    width: 90%
    margin-top: 80px
    padding: 0
  .to-buy
    &__item
      width: 80%
      margin: 10px auto 0
  .modal
    height: auto
    &__pic-container
      width: 86px
      height: 86px
    &__pic
      max-width: 45px
    &__items
      margin-top: 10px
      padding: 24px
    &__item
      width: 100%
      margin-top: 10px
  .banner
    background-position: center


/* Extra Small Devices, Phones */
@media only screen and (min-width : 440px)
	.to-buy
    &__items
      justify-content: space-around
    &__item
      width: 40%
      margin-top: 10px


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .modal
    min-height: 720px
    flex-direction: row
    &__item
      width: 49%
      padding: 35px 18px
      margin-top: 10px
  .modal_left
  		flex-direction: row-reverse
  .products__item
    width: 49%
    margin-top: 0
    padding: 0 40px
  .to-buy
    &__items
      justify-content: space-between
    &__item
      width: 213px
      margin-top: 10px


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.modal
    &__pic-container
      height: 126px
      width: 126px
    &__pic
      max-width: 90px


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
