//@import "fonts"
@import "vars"

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

body
	background-color: $bg-color
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: $font-roboto
	line-height: 1.65
	overflow-x: hidden

.banner
	max-width: 960px
	width: 100%
	height: 408px
	margin: 40px auto 0
	padding: 40px
	background: url('') 100% 100% cover
	background-image: url("../img/panel-bg_main.png")
  background-color: $bg-color
  background-position: center center
  background-repeat: no-repeat
  background-size: contain
	border: 1px solid $grey-color
	border-radius: 18px
	&__content
		width: 100%
		height: 100%
		display: flex
		align-items: flex-start
		flex-direction: column
		justify-content: space-between
	&__top-line
		display: flex
		align-items: center
	&__logo
		max-height: 73px
		height: auto
		width: auto
	&_h2
		max-width: 50px
		margin: 0 0 0 18px
		line-height: 1
		font-weight: 700
		color: #2E3134
		font-size: 32px
	&__bottom-line
		max-width: 264px
		font-family: $font-roboto
		font-weight: 700
		font-size: 20px
		line-height: 23px
		color: #2E3134

.products
	max-width: 960px
	width: 100%
	margin: 100px auto 0
	display: flex
	align-items: flex-start
	justify-content: space-around
	flex-flow: row wrap
	position: relative
	&__item
		width: 49%
		height: 620px
	&__pic
		margin: 0 auto
		width: auto
		height: 100%
		display: flex
		align-items: center
		border-radius: 18px
		justify-content: center
		background: $main-gradient
		box-shadow: 0 32px 79px #48ae4b
		&_disabled
			background: #F4F4F4
			border: 1px solid #E5E5E5
			box-sizing: border-box
			border-radius: 18px
			box-shadow: none
	&__detail
		width: 100%
		text-align: center
		margin: 12px 0 0
		&_button
			font-family: $font-roboto
			font-weight: bold
			font-size: 20px
			line-height: 23px
			letter-spacing: 0.05em
			text-transform: uppercase
			color: #747474
			padding: 0
			cursor: pointer
			outline: none
			border: none
			background-color: transparent
.modal
	display: none
	max-width: 960px
	width: 100%
	min-height: 720px
	height: 100%
	align-items: center
	flex-direction: column
	justify-content: space-around
	margin: auto
  overflow: auto
	position: absolute
	top: -40px
  z-index: 4
	&__close
		width: 50px
		height: 50px
		border-radius: 50%
		background: $main-gradient
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
	&__items
		max-width: 85%
		height: 100%
		padding: 40px
		display: flex
		align-items: center
		justify-content: space-between
		flex-flow: row wrap
		background: $main-gradient
		box-shadow: 0px 25px 100px #48AE4B
		border-radius: 18px
	&__item
		width: 49%
		padding: 35px 18px
		background: $white-color
		border-radius: 18px
		display: flex
		align-items: center
		justify-content: space-around
	&__pic-container
		height: 126px
		width: 126px
		border-radius: 50%
		background: $modal-item-gradient
		box-shadow: 0px 10px 40px #45AE4D
		display: flex
		align-items: center
		justify-content: center
	&__pic
		max-width: 90px
	&__text
		display: inline-block
		max-width: 100px
		font-family: $font-roboto
		font-style: normal
		font-weight: bold
		font-size: 20px
		line-height: 23px
		display: flex
		align-items: center
		color: #313334

.to-buy
	max-width: 960px
	width: 100%
	margin: 100px auto 0
	&__heading
		font-weight: 700
		font-size: 36px
		line-height: 42px
		text-align: center
		color: #313334
		font-family: $font-roboto-condensed
	&__items
		width: 100%
		margin-top: 40px
		display: flex
		align-items: center
		justify-content: space-between
		flex-flow: row wrap
	&__item
		width: 213px
		height: 213px
		padding: 10px 0
		background: $main-gradient
		box-shadow: 0 8px 51px #48ae4b
		border-radius: 18px
		display: flex
		flex-flow: row wrap
	&__icon
		height: 120px
		margin: 0 auto
		text-align: center
		display: inline-flex
		align-items: flex-end
		& img
			height: auto
	&__item-name
		display: inline-block
		width: 100%
		margin-top: 14px
		font-family: $font-roboto
		font-weight: bold
		font-size: 20px
		line-height: 23px
		text-align: center
		color: $white-color

.request
	max-width: 960px
	width: 80%
	min-height: 410px
	height: auto
	margin: 103px auto 0
	padding: 40px
	background: $white-color
	box-shadow: 0 31px 62px #48ae4b
	border-radius: 18px
	text-align: center
	&__heading
		max-width: 370px
		display: inline-block
		font-family: $font-roboto
		font-weight: bold
		font-size: 20px
		line-height: 28px
		color: #313334
	&__form
		width: 100%
		height: 100%
		margin-top: 33px
		justify-content: space-between


.form
	display: flex
	flex-direction: column
	align-items: center
	&__container
		display: flex
		flex-direction: column
		align-items: center
		&_sent
			display: none
	&__input
		max-width: 300px
		margin-top: 30px
		padding: 9px 24px
		border: 3px solid $grey-color
		border-radius: 4px
		font-family: $font-roboto
		font-weight: bold
		font-size: 28px
		text-transform: uppercase
		color: #363636
		&:focus
			box-shadow: 0px 24px 24px rgba(0, 152, 16, 0.25), 0px 0px 24px rgba(0, 152, 16, 0.25)
			border-color: #47B247
			& + .form__input-info
				opacity: 0
		&_focus
			border-color: #47B247
		&_error
			border-color: #BF4444 !important
		&-info
			font-family: $font-roboto
			font-weight: normal
			font-size: 18px
			line-height: 21px
			color: $grey-color
			&_error
				font-family: $font-roboto
				font-weight: normal
				font-size: 18px
				line-height: 21px
				display: flex
				align-items: center
				color: #363636
				opacity: 0
				&::before
					content: url(../img/icon_exclam.svg)
					width: 21px
					height: 21px
					background-color: #BF4444
					border-radius: 50%
					margin-right: 11px
		&::placeholder
			font-family: $font-roboto
			font-weight: bold
			font-size: 28px
			text-transform: uppercase
			color: #363636
	&__submit
		width: 300px
		margin-top: 42px
		padding: 20px
		background: #72BF44
		border-radius: 4px
		border: none
		outline: none
		font-family: $font-roboto-condensed
		font-style: normal
		font-weight: bold
		font-size: 22px
		line-height: 26px
		text-transform: uppercase
		color: $white-color
		display: flex
		align-items: center
		justify-content: space-around
		position: relative
		z-index: 999
		cursor: pointer
		&_disabled
			background: $grey-color
			cursor: default
			&::after
				content: ''
				display: none
		&::after
			content: ''
			width: 90%
			height: 6px
			position: absolute
			top: 100%
			left: 0
			right: 0
			bottom: 0
			margin: 0 auto
			z-index: 0
			background: #009810
			border-bottom-left-radius: 4px
			border-bottom-right-radius: 4px

.visible
	opacity: 1
.invisible
	opacity: 0

.reviews
	max-width: 960px
	width: 100%
	margin: 100px auto 0
	&__heading
		font-weight: 700
		font-size: 36px
		line-height: 42px
		text-align: center
		color: #313334
		font-family: $font-roboto-condensed
	&__items
		width: 100%
		margin-top: 40px
		display: flex
		align-items: center
		justify-content: space-between
		flex-flow: row wrap
	&___item

.review
	max-width: 540px
	min-height: 240px
	margin: 0 auto
	background: $main-gradient
	border-radius: 18px
	position: relative
	padding: 20px
	display: flex
	align-items: flex-start
	justify-content: space-around
	&::after
		content: url(../img/icon_arrow-down.svg)
		position: absolute
		z-index: 2
		bottom: 3px
		margin: 0 auto
	&__pic
		width: 82px
		height: 82px
		border-radius: 50%
		padding: 4px
		border: 1px solid $white-color
		position: relative
		box-shadow: 1px 1px 13px 2px rgba(255,255,255,.5)
	&__content
		margin-left: 20px
		align-self: center
	&__name
		font-family: $font-roboto
		font-weight: normal
		font-size: 18px
		line-height: 21px
		color: $white-color
	&__text
		font-family: $font-roboto
		font-weight: bold
		font-size: 20px
		line-height: 23px
		color: $white-color

@import "media"
